Repository Muhammed-Rahif/GH-Notify, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, gh-actions, telegram-bot

.github/labeler.yml:

dependencies:
  - yarn.lock

documentation:
  - README.md

gh-actions:
  - .github/workflows/**/*

telegram-bot:
  - src/controllers/teleBot.ts

feat(cors): cors enabled
  src/main.ts
Labels: none

feat(cors): cors enabled (#103)
  src/main.ts
Labels: none

docs(readme): update status badge to 'offline'
  README.md
Labels: documentation

chore(deploy): vercel deploy config
  package.json
  yarn.lock
Labels: dependencies

chore(deploy): vercel deploy config (#104)
  package.json
  yarn.lock
Labels: dependencies

chore(deploy): add vercel config
  vercel.json
Labels: none

:high_brightness: chore(deploy): add vercel config (#105)
  vercel.json
Labels: none

Revert ":high_brightness: chore(deploy): add vercel config (#105)"
  vercel.json
Labels: none

Revert ":high_brightness: chore(deploy): add vercel config (#105)" (#106)
  vercel.json
Labels: none

Revert "chore(deploy): vercel deploy config (#104)"
  package.json
  yarn.lock
Labels: dependencies

Revert "chore(deploy): vercel deploy config (#104)" (#107)
  package.json
  yarn.lock
Labels: dependencies

fix: update production url
  .github/workflows/prevent-sleep.yml
  README.md
  src/controllers/teleBot.ts
Labels: documentation, gh-actions, telegram-bot

fix: update production url (#108)
  .github/workflows/prevent-sleep.yml
  README.md
  src/controllers/teleBot.ts
Labels: documentation, gh-actions, telegram-bot

docs(readme): update status badge
  README.md
Labels: documentation

docs(readme): fix typo
  README.md
Labels: documentation

docs(readme): Updated table of contents in 'README.md'
  README.md
Labels: documentation

docs(readme): add screenshot
  README.md
Labels: documentation

docs(readme): Updated table of contents in 'README.md'
  README.md
Labels: documentation

chore: code files prettified
  README.md
Labels: documentation

chore: code files prettified (#109)
  README.md
Labels: documentation
